<%= simple_form_for item do |f| %>
  <% fields.each do |field| %>
    <div>
      <%= f.label field %>
      <% if multiple?(field) %>
        <% values = item.send(field) %>
        <% values.each do |value| %>
          <% if value.source? %>
            <div class="source"><%= value %></div>
          <% else %>
            <%= f.input field, label: false, input_html: {name:"nyucore[#{field}][]", value: value, id: field_id(field, value.index)} %>
          <% end %>
        <% end %>
        <%= f.input field, label: false, input_html: {name:"nyucore[#{field}][]", value: nil, id: field_id(field)} %>
      <% else %>
        <% value = item.send(field) %>
        <% if value.present? && value.source? %>
          <div class="source"><%= value %></div>
        <% else %>
          <%= f.input field, label: false, input_html: {name:"nyucore[#{field}]", value: value, id: field_id(field)} %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <br />
  <%= f.submit 'Save' %>
<% end %>
