<%= simple_form_for item do |f| %>
  <% fields.each do |field| %>
    <div>
      <% if multiple?(field) %>
        <%= f.label field %>
        <% values(field).each_with_index do |value, index| %>
          <% if editable?(field, value) %>
            <%= f.input field, label: false, input_html: {name:"nyucore[#{field}][]", value: value, id: field_id(field, index)} %>
          <% else %>
            <div class="source"><%= value %></div>
          <% end %>
        <% end %>
        <%= f.input field, label: false, input_html: {name:"nyucore[#{field}][]", value: nil, id: field_id(field, values(field).size)} %>
      <% else %>
        <% value = item.send(field) %>
        <% if editable?(field, value) %>
          <%= f.input field, label: false, input_html: {name:"nyucore[#{field}]", value: value, id: field_id(field)} %>
        <% else %>
          <div class="source"><%= value %></div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <br />
  <%= f.submit 'Save' %>
<% end %>
