<h1>Listing Items</h1>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <% if item.source_metadata.title != [] %>
          <td><%= item.source_metadata.title[0] %></td>
        <% else %>
          <td><%= item.native_metadata.title[0] %></td>
        <% end %>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_nyucore_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table><br>
<%= link_to 'New Item', new_nyucore_path %>
