<div>
  <h4>Ichabod FAQs</h4>
</div>
<div><h3>What is Ichabod?</h3></div>
<div>
Glad you asked! Ichabod was developed as part of a library-wide strategic initiative to integrate NYU's curated digital collections into our main discovery portal, BobCat. It is built on an open source technology stack, including Fedora, Solr, Blacklight, and Hydra. We are not (currently) treating Ichabod as a true public interface, since everything in here is also being pushed to BobCat (specifically, to the "Books and More" tab). In fact, the reason it’s called Ichabod is that it’s “headless”, i.e., without its own user-facing search portal. However, as you can see, it does have a user-facing portal. This is mainly to enable library staff to search and edit records in Ichabod before exporting them to BobCat. Still, it is an fact a functioning search portal, so feel free to try it out now that you’ve stumbled upon it.
Please keep in mind that this is a work in progress, and not meant to be a formal public interface.
Having said that, please contact us if you have comments or questions at ichabod [at] nyu.edu.
</div>

<div><h3>What, more specifically, is the technology underlying Ichabod?</h3></div>
<div>Fedora is a digital object repository. We are using it only to store metadata, however, since we have other solutions for storing digital objects. Solr is a widely used Lucene-based indexing and searching tool. Blacklight is a discovery layer, maintained by the same community that developed Hydra. The Hydra “gem” (a module of Ruby code) allows Web-based management of Fedora objects. Another important component is a locally-defined application profile called “Nyucore,” based on Dublin Core. It allows us to map metadata elements from external systems onto a single element set, which in turn, supports consistent indexes and access points. We are using a “headless” instance of Hydra (hence the name, “Ichabod”) as a staging area before exporting Nyucore-normalized metadata to BobCat.</div>
<div><h3>What is currently indexed in Ichabod?</h3></div>
<div>
  As of June 2015, you can find items from the following collections:
  <ul>
<li>South Asian research reports from the <%= link_to "Faculty Digital Archive", "https://archive.nyu.edu/" %></li>
<li>Shape files from the <%= link_to "Spatial Data Repository", "http://nyu.v1.libguides.com/SDR" %></li>
<li>Drupal-based digital collections, including <%= link_to "The Real Rosie the Riveter", "http://dlib.nyu.edu/rosie/node/1029" %> and <%= link_to "Voices from the Food Revolution", "http://dlib.nyu.edu/beard/content/welcome-voices-food-revolution" %></li>
<li><%= link_to "Archive of Contemporary Composers' Websites", "https://www.archive-it.org/collections/4049" %></li>
<li><%= link_to "Open Access NYU Press books", "http://openaccessbooks.nyupress.org/" %></li>
<li><%= link_to "NYU Library Research Guides", "http://guides.nyu.edu/" %> (Ichabod only)</li>
  </ul>    
</div>