<%# default partial to display solr document fields in catalog show view -%>
<% item = Nyucore.find(document.id) %>
<dl class="dl-horizontal dl-invert">
<% document_show_fields(document).each do |solr_fname, field| -%>
<% if should_render_show_field? document, field %>
<dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_label document, :field => solr_fname %></dt>
<dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_value document, :field => solr_fname %></dd>
<% end -%>
<% end -%>
<%- if can?(:edit, item) %><td><%=link_to 'Edit', edit_nyucore_path(item) %></td><% end %>
<%- if can?(:destroy, item) %><td><%= link_to 'Destroy', nyucore_path(item, {:search_params=>request.params}), method: :delete, data: { confirm: 'Are you sure?' } %></td><% end %>
</dl>

